<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container" style="border-style:ridge;margin-top:40px;">

    <form action="" id="form_sub">
        <div class="form-group">
            <p><center>To-Do List</center></p>
            <input type="text" class="form-control" id="title">
        </div>
        <button type="submit" class="btn btn-outline-success btn-block">submit</button>
    </form>

    <div class="card" style="margin-top:10px">
        <div class="card-body">
            <ul class="list-group" id="item_list">

            </ul>
        </div>
    </div>
</div>

</body>
</html>


<script>

    var f = document.getElementById('form_sub');
    var title = document.getElementById('title');
    var item_list = document.getElementById('item_list');
    f.addEventListener('submit',result);
    var url = 'http://localhost:8000/api/task-list/';


    function result(e){
      e.preventDefault();
      fetch(url)
      .then((resp)=> resp.json())
      .then(function(data){
           var list = data;
           console.log(list);
           for(var i in list){
              var item = `
              <ul class="list-group">
                <li class="list-group-item">${list[i]['title']}<button class="btn btn-danger btn-sm" style="float:right">x</button></li>
              </ul>`
              item_list.innerHTML += item;
           }
         }
      )}


</script