{% extends "blog/base.html" %}
{% block content %}


<div class="card" style="margin-top:10px;">
    <div class="card-header">
                <span>
                    <img class="rounded-circle" src="{{ object.author.profile.image.url }}" alt="profile pic"
                         style="height:50px;width:50px;">
                    {{object.author}}
                </span>

        {% if object.author == request.user %}
        <span style="float:right">
                     <a href="{% url 'post_update' object.id %}" class="btn btn-outline-secondary">Update</a>
                     <a href="{% url 'post_delete' object.id %}" class="btn btn-outline-danger">Delete</a>
                  </span>
        {% endif %}
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <h5>{{object.title}}</h5>
            <p>{{object.content}}</p>
            <footer class="blockquote-footer">
                <span>{{object.date_posted|date:'F d, Y'}}</span>
                <span style="float:right">
                    <button class="btn btn-outline-danger" id="comment">
                        View Comments
                    </button>
                     <button class="btn btn-outline-info"  data-toggle="modal"
                             data-target="#exampleModal">
                        Post Comment
                    </button>

                    <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                </span>
            </footer>
        </blockquote>
    </div>


    <div class="card" id="comment-section" style="display: none;margin-top:10px;">
        <div class="card-body" style="border-style:outset;margin-top:5px;border-radius: 12px;">
            <img src="{{ object.author.profile.image.url }}" class="rounded-circle" style="height:30px;width:30px;">
            <p style="display:inline">
                T.bashrc will work for local development but not for a production environment.
                I just spent quite a bit of time looking for the answer to this and here's what worked for me.
            </p>
        </div>
        <div class="card-body" style="border-style:outset;margin-top:5px;border-radius: 12px;">
            <img src="{{ object.author.profile.image.url }}" class="rounded-circle" style="height:30px;width:30px;">
            <p style="display:inline">
                T.bashrc will work for local development but not for a production environment.
                I just spent quite a bit of time looking for the answer to this and here's what worked for me.
            </p>
        </div>
        <div class="card-body" style="border-style:outset;margin-top:5px;border-radius: 12px;">
            <img src="{{ object.author.profile.image.url }}" class="rounded-circle" style="height:30px;width:30px;">
            <p style="display:inline">
                T.bashrc will work for local development but not for a production environment.
                I just spent quite a bit of time looking for the answer to this and here's what worked for me.
            </p>
        </div>
    </div>


</div>


<script>
    var x = document.getElementById("comment");
    x.addEventListener('click',display);
    function display(){
        var y = document.getElementById("comment-section");
        if(y.style.display == "none")
        {
           y.style.display = "block";
           y.scrollIntoView();
        }
        else
        {
           y.style.display = "none";
        }

    }






</script>


{% endblock content %}


